.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading{
    font-weight: bold;
    font-size: 16pt;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.input-btn-container{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 0px 10px 0px;
}

.btn{
    border: none;
    height: 30px;
    width:30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn:hover{
    background-color: aqua;
    border: none;
    height: 30px;
    width:30px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list-items-container{
    width: 256px;
    display: flex;
    justify-content: center;
    width: calc(256px + 30px) ;
    flex-direction: column;
}

.del-item:hover{
    border: 1px solid rgb(253, 72, 72);
    font-weight: bold;
    width: calc(256px + 30px) ;
    display: flex;
    justify-content: center;
    flex-direction: column;
}